{
  "mcpServers": {
    "bookmark-manager-local": {
      "command": "/absolute/path/to/mcp_server/.venv/Scripts/python.exe",
      "args": [
        "/absolute/path/to/mcp_server/server.py"
      ]
    },
    "bookmark-manager-remote": {
      "type": "http",
      "url": "https://mcp-demo-pzap.onrender.com/mcp"
    }
  }
}
